<!DOCTYPE html>
<html ng-app="HangmanApp" ng-controller="GameController">
<head>
    <title>First angular Js app</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.6/angular.min.js"></script>

    <script src="app.js"></script>
</head>
<body>
    <div>Guesses left:{{numberOfGuesses}}</div>
    <!--Displays incorrect letter and number of guesses left-->
    <div>Your Incorrect Guesses:
        <span ng-repeat="letter in incorrectLettersChosen">
            {{letter}}
        </span>
    </div>
    <div>Correct Guesses: 
            <span ng-repeat="letter in correctLetters">
                {{letter}}
            </span>
        </div>
    <div>Here is the word you need to guess {{displayWord}}</div>
    <div>
        <input type="text" name="guess" ng-model="input.letter">

        <button ng-click="letterChosen()">Submit</button>
    </div>
</body>
</html>